.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  background: black;
}


.mat-toolbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--transparent-black);
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 5;
}

.main-nav {
  position: sticky;
  top: 0;
  z-index: 1;
  border-bottom: 1px solid white;
}

ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: "Viaoda Libre", cursive;
}
