.carousel-container {
  display: flex;
  align-items: center;
}

.carousel-button {
  cursor: pointer;
  font-size: 2rem;
}

.carousel {
  display: flex;
  overflow: hidden;
  width: 100%;
}

.carousel-item {
  flex-shrink: 0;
  width: 100%;
  text-align: center;
  padding: 1rem;
  box-sizing: border-box;
  transition: all 0.5s ease;
  opacity: 0.5;
  /* background-color: red; */
  outline: 1px solid pink;
}

.carousel-item.central {
  opacity: 1;
  transform: scale(1.2);
}
