<footer>

  <section>
    <h3>Company</h3>
    <ul>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Contact Us</a></li>
      <li><a href="#">Careers</a></li>
      <li><a href="#">Terms of Use</a></li>
      <li><a href="#">Privacy Policy</a></li>
    </ul>
  </section>

  <section>
    <h3>Support</h3>
    <ul>
      <li><a href="#">FAQ</a></li>
      <li><a href="#">Help Desk</a></li>
      <li><a href="#">Forums</a></li>
    </ul>
  </section>

  <section>
    <h3>Connect</h3>
    <ul>
      <li><a href="#">Facebook</a></li>
      <li><a href="#">Twitter</a></li>
      <li><a href="#">Google+</a></li>
      <li><a href="#">LinkedIn</a></li>
    </ul>
  </section>

</footer>
